{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rolls-Royce Control Systems - CETUS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>
    <!-- MAIN TITLE -->
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">CETUS</h1>
                <h2 class="subtitle">
                    Third Party Access Management
                </h2>
            </div>
        </div>
    </section>


    <!-- NAVBAR -->
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">

        <div id="cetus3pur_navbar" class="navbar-menu">

            <!--  the important views -->
            <div class="navbar-start">
                <a class="navbar-item" href="/cetus3pur/">
                  Home
                </a>

                <a class="navbar-item" href="/cetus3pur/tpv/">
                  3rd Parties
                </a>

                <a class="navbar-item" href="/cetus3pur/rrm/">
                    R-R Managers
                </a>

                <a class="navbar-item" href="/cetus3pur/eabreq/">
                    EAB Request
                </a>

                <a class="navbar-item" href="/cetus3pur/eabreq_for_approval/">
                    EAB Requests for approval
                </a>



                <a class="navbar-item" href="/cetus3pur/eabrecords/">
                    EAB Records
                </a>

                <a class="navbar-item" href="/cetus3pur/audit/">
                    Audit
                </a>

            </div>


            <!--  user profile, login / log out -->
            <div class="navbar-end">
                <div class="navbar-item">
                    {% if user.is_authenticated %}

                    <a class="button is-primary" href="/cetus3pur/userprofile/">
                        <i class="fas fa-user-alt"></i>
                        <strong>&nbsp;{{ user }} </strong>
                    </a>

                    <form action="/logout/">
                        <button class="button is-light" value="Submit Query">
                            <strong>Log out</strong>
                        </button>
                    </form>

                    {% else %}
                    <div class="buttons">
                        <a class="button is-primary" href="/login/">
                            <strong>Log in</strong>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>