{% extends "base.html" %} {% block content %}

<section>
    <div class="container">
        <div class="content">
            <br>
            <h1>Add Third Party Users for {{employer}}</h1>
        </div>
    </div>
</section>
<section>

    <div class="container">
        <div class="content">
            <form action="" method="post">

                <div class="field">
                    <label class="label">Usage 1 - Add a list of new 3rd party users, as in this example</label>
                    <label class="label">    John, Smith, BE0011, jon101, 31/12/2025</label>
                    <label class="label">Usage 2</b> To update only the expiry date, follow this example
                    <label class="label">    jon101, 31/12/2025</label>
                    <textarea class="textarea" rows=12 name="new_user_specs" placeholder="e.g. John, Smith, BE0011, jon101, 31/12/2025"></textarea>
                </div>

                <div class="control">
                    <button class="button is-primary is-rounded">Submit</button>
                </div>
            </form>
            <br>
            <div class="field">
                <label class="label">Status</label>
                <textarea class="textarea" placeholder="">{{error_text}}</textarea>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock %}