{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="content">
        <br>
        <h1>Audit</h1>
        <div class="section">
            <a class="button is-primary">Check 3rd party AD group users</a>
            <a class="button is-primary">Check 3rd party AD group access</a>
            <a class="button is-primary">Check 3rd party user locations</a>
            <a class="button is-primary">Check IPECR expiry dates</a>
        </div>
        <div class="section">
            <textarea class="textarea" placeholder="Audit results:" rows="10"></textarea>
        </div>
    </div>
</div>

{% endblock %}