{% extends "base.html" %} {% block content %}
<div class="section">
    <div class="container">
        <div class="box">
            <h3 class="title">User Details:</h3>
            username : {{ user.username}}
            <br>email : {{ user.email}}
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="box">
            <h3 class="title">Your Roles are:</h3>
            {% for grp in user.groups.all %}
                {{grp}}<br>
            {%endfor%}
        </div>
    </div>
</div>





<div class="section">
    <div class="container">
        <div class="box">
            <h3 class="title">Your Permissions are :</h3>
            {% for p in userpermies%}
                {{p}}<br>
            {% endfor %}
        </div>
    </div>
</div>




<div class="section">
    <div class="container">
        <div class="box">
            <h3 class="title">All Available CETUS Permissions:</h3>
            <div class="content">
                {% for perm in permies%}
                    {{perm}} <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}