{% extends "base.html" %} {% block content %}

<section>
    <div class="container">
        <div class="content">
            <br>
            <h1>Review an EAB Request for Approval</h1>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="content">
            <hr>
            <h3>
                <font color=blue>The Request under review</font>
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date of Request</th>
                        <th>Requestor</th>
                        <th>3rd Party</th>
                        <th>Data Store</th>
                        <th>Export Claim</th>
                        <th>IPECR</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>{{ req.date }}</td>
                        <td>{{ req.reqstr_userid }}</td>
                        <td>{{ req.tp }}</td>
                        <td>{{ req.data_store }}</td>
                        <td>{{ req.data_store_export_claim }}</td>
                        <td>{{ req.ipecr }}</td>
                    </tr>



                </tbody>
            </table>

            <!-- what the approver fills in -->
            <hr>
            <h3>
                <font color=blue>Approver - please record details of the approval</font>
            </h3>
            <form action="" method="post">

                <div class="field">
                    <label class="label">Date of review</label>
                    <div class="control">
                        <input class="input" name="eabrev_date" type="date" placeholder="Text input" value={{ bulma_date }}>
                    </div>
                </div>


                <div class="field">
                    <label class="label">Approver User ID</label>
                    <div class="control">
                        <input class="input" name="eabrev_approver_user_id" type="text" placeholder="Text input" value={{user}}>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Decision</label>
                    <div class="select is-focused">
                        <select name="eabreview_decision_selector">
                        <option>Not Yet Reviewed</option>
                        <option>Approved</option>
                        <option>Rejected</option>
                        <option>Pending</option>
                    </select>
                    </div>
                </div>

                <div class="field">
                    <label class="label">ECM Comment</label>
                    <textarea class="textarea" rows=6 name="eabrev_ecm_comment" placeholder=""></textarea>
                </div>

                <div class="field">
                    <label class="label">IP Manager Comment</label>
                    <textarea class="textarea" rows=6 name="eabrev_IPM_comment" placeholder=""></textarea>
                </div>


                <div class="field">
                    <label class="label">IT Comment</label>
                    <div class="control">
                        <textarea class="textarea" rows=6 name="eabrev_IT_comment" placeholder=""></textarea>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-primary is-rounded">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}