{% extends "base.html" %} {% block content %}
{% load cetus_tt %}

<section>
    <div class="container">
        <div class="content">
            <br>
            <h1>EAB Requests - Ready for Approval </h1>
        </div>


        <!-- show a table of EAB requests , with option on each to change request or approve it-->
        <table class="table">
            <thead>
                <tr>
                    <th>EAB Request</th>
                    <th>EAB Approval</th>
                    <th>Date of Request</th>
                    <th>Requestor</th>
                    <th>3rd Party</th>
                    <th>Data Store System</th>
                    <th>Data Store</th>
                    <th>Export Claim</th>
                    <th>IPECR</th>
                </tr>
            </thead>
            <tbody>


                {% for req in reqlist %}
                    <tr>
                        <td>
                            <a class="button is-link is-small" href="/cetus3pur/eabreq/edit/{{req.id}}">Edit Request</a>
                        </td>

                        <td>
                        {% if dict_req_has_apprv|hash:req.id  %}
                            <a class="button is-link is-small" href="/cetus3pur/eabappr/edit/{{dict_req2appr|hash:req.id}}">Edit Approval</a>
                        {% else %}
                            <a class="button is-link is-small" href="/cetus3pur/eabappr/create/{{req.id}}">Create Approval</a>
                        {% endif %}                        
                        </td>

                        <td>{{ req.date }}</td>
                        <td>{{ req.reqstr_userid }}</td>
                        <td>{{ req.tp.legal_entity_name }} ({{req.tp.location}})</td>
                        <td>{{ req.data_store_system }}</td>
                        <td>{{ req.data_store }}</td>
                        <td>{{ req.data_store_export_claim }}</td>
                        <td>{{ req.ipecr }}</td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</section>

{% endblock %}