{% extends "base.html" %} {% block content %}

<section>
    <div class="container">
        <div class="content">
            <br>
            <h1>EAB Approvals </h1>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>EAB Approval</th>
                    <th>EAB Request</th>
                    <th>Date of Review</th>
                    <th>Approver</th>
                    <th>Decision</th>
                    <th>ECM Comment</th>
                    <th>IPM Comment</th>
                    <th>IT Comment</th>
                </tr>
            </thead>
            <tbody>

                {% for appr in approvals %}

                <tr>
                    <td>
                        <a href="/cetus3pur/eabreviewapprove/{{ appr.id }}"> {{appr.id }} </a>
                    </td>
                    <td>{{ appr.request }}</td>
                    <td>{{ appr.date }}</td>
                    <td>{{ appr.approver_userid }}</td>
                    <td>{{ appr.decision }}</td>
                    <td>{{ appr.ecm_comment }}</td>
                    <td>{{ appr.ipm_comment }}</td>
                    <td>{{ appr.IT_comment }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>


    </div>
</section>

{% endblock %}