{% extends "base.html" %} {% block content %}

<section>
    <div class="container">
        {% if rrm %}
        <div class="content">
            <br>
            <h1>Rolls-Royce Managers</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>CETUS User ref</th>
                    <th>1st Name</th>
                    <th>Family Name</th>
                    <th>Employee ID</th>
                    <th>User a/c</th>
                </tr>
            </thead>
            <tbody>

                {% for user in rrm %}
                <tr>{% for key, value in user.items %}
                    <td> {{value}} </td>{% endfor %}</tr> {% endfor %}

            </tbody>
        </table>

        {% else %}
        <p>No R-R managers found in the CETUS Database.</p>
        {% endif %}
    </div>
</section>
{% endblock %}