{% extends "base.html" %} {% block content %}

<section>
    <div class="container">
        <div class="content">
            <div class="box">

                <h1>Rolls-Royce Responsible Managers</h1>
        
                <table class="table">
                    <thead>
                        <tr>
                            <!--
                            <th>CETUS User ref</th>
                            <th>Employee ID</th>
                            -->
                            <th>User a/c</th>
                            <th>1st Name</th>
                            <th>Family Name</th>
                            <th>Tag Test</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--
                        {% for user in rrm %}
                        <tr>{% for key, value in user.items %}
                            <td> {{value}} </td>{% endfor %}</tr> {% endfor %}
                        -->
                        
                        {% if rrm %}
                            <form action="/cetus3pur/tpvu">
                            {% for user in rrm %}
                                <tr>
                                    <td> {{user}}</td>
                                    <td> {{user.first_name}}</td>
                                    <td> {{user.last_name}}</td>
                                    <td>
                                        
                                        <span class="tag is-info is-rounded>">Diarmuid
                                              <button class="delete is-small" name="delme"></button>
                                        </span>
                                        
                                        <span class="tag is-success" name="addme">Add me
                                              <button name="delme"></button>
                                          </span>
                                    </td>                                    
                                </tr>
                            {% endfor%}
                            </form>
                        {% endif %}
                    
                    </tbody>
                </table>
            </div>


            <div class="box">

                <h1>Rolls-Royce UK Managers</h1>
        
                <table class="table">
                    <thead>
                        <tr>
                            <th>User a/c</th>
                            <th>1st Name</th>
                            <th>Family Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if rrukm %}
                            {% for user in rrukm %}
                                <tr>
                                    <td> {{user}}</td>
                                    <td> {{user.first_name}}</td>
                                    <td> {{user.last_name}}</td>
                                </tr>
                            {% endfor%}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}