{% extends "base.html" %} {% block content %} {% load cetus_tt %}
<!-- MAIN CONTENT -->
<div class="container">
    {% if latest_3p_list %}
    <div class="content">
        <br>
        <h1>List of 3rd Parties</h1>
    </div>
    <div class="tile is-ancestor">
        {% for tp in latest_3p_list %}
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">
                    <a href="/cetus3pur/tpvu/{{ tp.id }}/"> {{ tp.legal_entity_name }} - {{ tp.location }}</a></p>
                <p class="subtitle">Members : {{ dict3p|hash:tp.legal_entity_name }}</p>
                <p class="subtitle">AD Group : {{ tp.ad_group_name }}</p>
            </article>
        </div>
        {% endfor %} {% else %}
        <p>No 3rd parties are in the cetus database.</p>
        {% endif %}
    </div>
</div>

{% endblock %}