{% extends "base.html" %} {% block content %} {% if tp_user %}

<section>
    <div class="container">
        <div class="content">
            <br>
            <h1>Edit Third Party User</h1>
        </div>
    </div>
</section>
<section>

    <div class="container">
        <div class="content">
            <form action="" method="post">
                <div class="field">
                    <fieldset disabled>
                        <label class="label">CETUS ID</label>
                        <div class="control">
                            <input class="input" name="user_id" type="text" placeholder="Text input" value={{ tp_user.id }}>
                        </div>
                    </fieldset>
                </div>

                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control">
                        <input class="input" name="user_firstname" type="text" placeholder="Text input" value={{ tp_user.firstname }}>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Family Name</label>
                    <div class="control">
                        <input class="input" name="user_familyname" type="text" placeholder="Text input" value={{ tp_user.familyname }}>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Employee ID</label>
                    <div class="control">
                        <input class="input" name="user_employee_id" type="text" placeholder="Text input" value={{ tp_user.employee_id }}>
                    </div>
                </div>

                <div class="field">
                    <label class="label">User account name</label>
                    <div class="control">
                        <input class="input" name="user_acname" type="text" placeholder="Text input" value={{ tp_user.userac_name }}>
                    </div>
                </div>

                <div class="field">
                    <label class="label">User account expiry date</label>
                    <div class="control">
                        <input class="input" name="user_acexpiry" type="date" placeholder="Text input" value={{ bulma_date }}>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-primary is-rounded">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% else %}
<p>No 3rd party users found in the CETUS Database.</p>
{% endif %} {% endblock %}